.Home .name {
  text-align: center;
  color: black;
  text-transform: capitalize;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
}

.Home .desc {
  text-align: center;
  color: black;
  text-transform: capitalize;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px;
}

.Home .lander {
  padding: 10px 0;
  text-align: center;
}

.Home .popularRecipes {
  padding: 12px 0;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 25pt;
}

.Home .popularRecipes h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 520;
  font-size: 15pt;
  /* float: left; */
  margin-right: 70px;
}

.Home h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 501;
  font-size: 12pt;
  margin-top: 40px;
}

.Home p {
  color: rgb(46, 36, 77);
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
}

.btn {
  border-radius: 8px;
  font-size: 20px;
  height: 35px;
  width: 200px;
  padding: 6px 6px 6px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  border-color: #4d4d4d;
  transition-duration: 0.4s;
  outline: none;
  font-size: 10pt;
}

.btn:hover {
  outline: none !important;
  border-color: #4d4d4d;
  outline: none;
  /* background-color: #a1a1a1;
  color: white; */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:focus {
  outline: none !important;
  border-color: #4d4d4d;
}
