div.card {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 220px;
}

div.card:hover {
    border: 3px solid #777;
}

div.card img {
    width: 100%;
    height: auto;
}

div.desc {
    text-align: center;
}

.name {
    text-align: center;
    color: black;
    text-transform: capitalize;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}